{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Volunteer Form{% endblock %}</title>
    <meta charset="UTF-8">
    <!-- <link href=".css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>

    </style>
  </head>
{% block content %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <h1 style="text-align: center">Volunteer Help Form</h1>

          <h2 style="text-align: center">Contact information</h2>
          <form class="form" action ="" method ="post">

                 
            <div class="form-group">
              <label for="first_name">Name:</label>
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" required>
            </div>

            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required>
            </div>


            <div class="form-group">
              <label for="phone">Phone:</label>
              <input type="text" class="form-control" id="phone" name="phone" placeholder="###-###-####" required>
            </div>

            <div class="form-group">
              <label for="email">Email Address:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="yourname@email.com" required>
            </div>


            <div class="form-group">
              <label for="volunteers">Number of Volunteers:</label>
              <select class="form-control" class="volunteers" id="volunteers" name="volunteers">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <label for="has_truck">Do you have a large vehicle?:</label>
              <select class="form-control" class="has_truck" id="has_truck" name="has_truck">
                <option></option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class = "form-row">
              <div class= "form-group">
              <main>
              <div class="button">
                <div class="text">Submit</div>
              </div>
              <div class="progress-bar"></div>
              <svg x="0px" y="0px"
               viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;">
                <path class="check" class="st0" d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2"/>
              </svg>
            </main>
            </div>
          </form>

          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
      </body>
      {% endblock %}
</html>
