body {
    font-family: "Lato", sans-serif;
    background: url('https://images6.alphacoders.com/330/330366.jpg') no-repeat fixed ;
    background-size: cover;
    transition: background-color 1.5s;
    color: white;
    margin-top: 100px;
}

@media(min-width: 768px) {
  body {
    background: url('https://images6.alphacoders.com/330/330366.jpg') no-repeat fixed ;
    font-family: "Lato", sans-serif;
    transition: background-color 1.5s;
    color: white;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Submit button stuff*/

.buttoncontainer {
  position: relative;
  margin: 50px 0;
  padding: 30px;
  width: 100%;


}

.button {
  background: #2B2D2F;
  height: 80px;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 14px auto;
  cursor: pointer;
  border-radius: 4px;
  font: bold 1.25rem/1 poppins;
  color: #71DFBE;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.progress-bar {
  position: absolute;
  height: 20px;
  width: 0;
  right: 0;
  top: calc(50% + 14px);
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: lighten(#2B2D2F, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 30px;
  position: absolute;
  top: calc(50% + 14px);
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
  z-index: -1;
}

.check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
